export SECRET_KEY="django-insecure-i6s3bi@-8tbzpn019stngr(&(flua!8d13_a$jmc04eej1n@vp"
export URI="mongodb+srv://admin:kJgAQwHHowAU5w6l@cluster0.qvy5497.mongodb.net/?retryWrites=true&w=majority"
export database="fuzzydb"
export collection="urls"
export tokendb="tokens"