{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static style.css %}" />
    <title>FuzzyURLs - Short</title>
  </head>
  <body>
    <div class="container">
      <div class="short-url">
        Your shortened URL is, <strong>{{new}}</strong>
      </div>
      <form action="/mail" method="post">
        {% csrf_token %}
        <input type="email" name="mail" placeholder="Enter your email" />
        <button type="submit">Send</button>
      </form>
      Sent? {{success}}
    </div>
  </body>
</html>
